# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/dictionaries

# Sensitive or high-churn files:
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml
**/.idea/**/uiDesigner.xml

# Gradle:
**/.idea/**/gradle.xml
**/.idea/**/libraries
**/.gradle
**/.vscode
**/build

## Plugin-specific files:

# IntelliJ
**/out/

# mpeltonen/sbt-idea plugin
**/.idea_modules/

# JIRA plugin
**/atlassian-ide-plugin.xml

# Cursive Clojure plugin
**/.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
**/com_crashlytics_export_strings.xml
**/crashlytics.properties
**/crashlytics-build.properties
**/fabric.properties

#.lock and .bak files

*.lock
*.bak

# node.js modules

**/build
**/dist
**/node_modules
Tagx00.Backend/data/instance.txt
Tagx00.Backend/data/mission.txt
Tagx00.Backend/data/user.txt
Tagx00.Backend/data/ser/acceptDate_1
Tagx00.Backend/data/ser/end_1
Tagx00.Backend/data/ser/imageMissionType_1
Tagx00.Backend/data/ser/imageResults_1
Tagx00.Backend/data/ser/imageUrls_1
Tagx00.Backend/data/ser/start_1
Tagx00.Backend/data/ser/submitDate_1
Tagx00.MachineLearning/.idea/misc.xml
Tagx00.MachineLearning/.idea/modules.xml
Tagx00.MachineLearning/.idea/Tagx00.MachineLearning.iml
Tagx00.MachineLearning/__pycache__/pickup.cpython-36.pyc
Tagx00.Backend/static

## test 
Tagx00.Backend/static
Tagx00.MachineLearning/data/proval/test.txt
Tagx00.MachineLearning/data/proval/train.txt
deploy/data/**
deploy/static/**
deploy/python/__pycache__/**
deploy/python/data/trainmodels/checkpoint
deploy/python/data/trainmodels/model.ckpt.data-00000-of-00001
deploy/python/data/trainmodels/model.ckpt.index
deploy/python/data/trainmodels/model.ckpt.meta
deploy/python/data/proval/test.txt
deploy/python/data/proval/train.txt
deploy/tagx00_backend.txt
deploy/python/tagx00_ml.txt
deploy/data/ser
deploy/static

test/**
Tagx00.MachineLearning/data/trainmodels/checkpoint
Tagx00.MachineLearning/data/trainmodels/model.ckpt.data-00000-of-00001
Tagx00.MachineLearning/data/trainmodels/model.ckpt.index
Tagx00.MachineLearning/data/trainmodels/model.ckpt.meta
